.heroSection{
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgb(204, 201, 201);
}

.navigation{
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 50;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: white;
  margin: 0 10%;
}

.brandName{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brandText{
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}

.searchInput{
  width: 40%;
  height: 40px;
  position: relative;
  visibility: visible;
}

.searchImg{
  position: absolute;
  top: 33%;
  right: 0;
}

.searchImgMobileContainer{
  display: none;
}

.searchImgMobile{
  visibility: hidden;
}

.searchInput input{
  width: 100%;
  height: 36px;
  background: transparent;
  border: 2px solid #D1D5DB;
  outline: none;
  border-radius: 6px;
  color: white;
  padding: 0 0 0 5%;
}

.searchInput input::placeholder{
  color: white;
  font-size: 14px;
}

.signInText{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.menuIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuBackground{
  background-color: #BE123C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin: 0 0 0 15px;
  border-radius: 50%;
}

.heroText{
  position: absolute;
  top: 30%;
  left: 10%;
  width: 20%;
  z-index: 5;
}

.heroTextHeader{
  font-weight: 700;
  font-size: 48px;
  color: #FFFF;
}

.heroRating{
  width: 60%;
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFF;
}

.ratingImg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ratingImg span{
  margin: 0 0 0 8px;
  font-size: 12px;
}

.heroSubText{
  font-size: 14px;
  color: white;
  margin: 5% 0;
}

.playButton{
  background-color: #BE123C;
  color: #FFFF;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  border-radius: 6px;
  padding: 6px 16px;
  outline: none;
  border: 1px solid #BE123C;
}

.playButton span{
  margin: 0 0 0 10px;
}

.featuredDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5% 10%;
}

.featuredHeader{
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.seeMore{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.seeMore span{
  font-size: 18px;
  color: #BE123C;
  margin: 0 15px 0 0;
}

.cardGrid{
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: space-between;
  width: 80%;
  margin: 0 10%;
}

.cardItem{
  position: relative;
  margin: 0 0 5% 0;
}

.heartContainer{
  width: 25px;
  height: 25px;
  background-color: #f2f2f3;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 50;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

.cardImgContainer{
  position: relative;
  width: 100%;
  height: 370px;
}

.cardLittleText{
  color: grey;
  font-size: 12px;
  margin: 3% 0;
}

.movieName{
  font-weight: bold;
  font-size: 18px;
  color: #111827;
}

.cardHeroRating{
  width: 100%;
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #111827;
}

.footer{
  width: 100%;
  padding: 5% 0;
}

.socialMediaIcon{
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.policies{
  color: #111827;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: 2% auto;
  cursor: pointer;
}

.testimonial{
  color: #6b7280;
  width: 25%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .heroSection{
    height: 70vh;
  }

  .navigation{
    width: 90%;
    margin: 0 5%;
  }

  .brandName{
    width: 70%
  }

  .brandText{
    font-size: 16px;
    margin: 0 0 0 0;
  }


  .signInText{
    display: none;
  }

  .searchInput input{
    display: none;
  }

  .searchImgMobileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .searchImgMobile{
    visibility: visible;
  }

  .searchInput{
    width: 70%;
    visibility: hidden;
  }

  .mobileSearchInput{
    width: 90%;
    z-index: 1000;
    position: absolute;
    top: 15%;
    left: 5%;
  }

  .mobileSearchInput input{
    width: 95%;
    height: 36px;
    background: transparent;
    border: 2px solid #D1D5DB;
    outline: none;
    border-radius: 6px;
    color: white;
    padding: 0 0 0 5%;
  }
  
  .mobileSearchInput input::placeholder{
    color: white;
    font-size: 14px;
  }

  .heroText{
    top: 24%;
    left: 5%;
    width: 95%;
  }

  .featuredDiv{
    width: 90%;
    margin: 5% 5%;
  }

  .featuredHeader{
    font-size: 20px;
  }

  .seeMore span{
    font-size: 14px;
    margin: 0 5px 0 0;
  }

  .cardGrid{
    grid-template-columns: 100%;
    width: 90%;
    margin: 0 5%;
  }

  .socialMediaIcon{
    margin: 0 5%;
  }

  .policies, .testimonial{
    width: 90%;
    padding: 0 5%;
  }

  .policies{
    flex-direction: column;
  }
}